html,
body
	color gray
	font-size 18px
	line-height 1.66
	font-family 'Gotham'
	font-weight Light
	+below('l')
		font-size 16px
	+below('m')
		font-size 14px

h1, h2, h3, h4, h5, h5, h6
	font-weight normal
	margin 0


h2
	font-weight Light
	font-size 3.75em
	color dark_blue

h3
	font-weight Light
	font-size 1.875em
	color dark_blue

h4
	font-size 1.5em
	font-weight Bold
	color dark_blue

h5
	font-size 1.125em
	font-weight Bold
	color dark_blue

h6
	font-size 1em
	font-weight Medium
	color dark_blue
	text-transform uppercase
	font-weight normal

strong
	font-weight Medium

a
	text-decoration underline
	color inherit
	cursor pointer
	&:hover
		text-decoration none

svg
	fill currentColor
	display block
	height 100%
	width 100%
	position absolute
	top 0
	left 0

blockquote
	border 1px solid #ecf0f1
	padding 3.33em 7.2em 3.33em 4em
	color gray
	font-weight Bold
	font-style italic
	line-height 1.6
	font-size 0.88em
	position relative
	width 95%
	margin 2rem 0 2.5rem 5%
	&:after
		content ''
		display block
		width 0.56em
		height 100%
		background-color blue
		position absolute
		top 0
		left 0
	&:before
		content ''
		display block
		height 3.5em
		width 3.5em
		position absolute
		top 2em
		right 2em
		background-image url(../images/quotes.svg)
		background-size contain
		background-repeat no-repeat

ul,
ol
	font-size 1em
	padding 0 0 0 1em
	li
		padding-left 0.2em

table
	font-size 0.77em
	margin 2em 0
	color gray

td
th
	border 1px solid #ecf0f1
	text-align left
	padding 0.5em 1.2em

th
	font-weight Bold
	color #2c3e50
	background-color #f8f9f9
	border 0
	&:hover
		background-color #ecf0f1



img
	max-width 100%
	display block


*
	box-sizing border-box
