.Container
	max-width 1200px
	width 90%
	position relative
	margin 0 auto

.Heading2
	font-weight Light
	font-size 3.75em
	color dark_blue

.Heading3
	font-weight Light
	font-size 1.875em
	color dark_blue

.Heading4
	font-size 1.5em
	font-weight Bold
	color dark_blue

.Heading5
	font-size 1.125em
	font-weight Bold
	color dark_blue

.Heading6
	font-size 1em
	font-weight Medium
	color dark_blue
	text-transform uppercase


children($n = 2, $margin = 3vw)
	&:first-child:nth-last-child({$n})
	&:first-child:nth-last-child({$n}) ~ &
		width 'calc(%s - %s)' % ((100 / $n)\% ($margin/2))
