white = #ffffff
off_white = #f3f3f3
blue = #009bde
dark_blue = #1f355e
black = #000000
dark_gray = #333333
gray = #666666
light_gray = #f9f9f9


// Fonts
Thin = 100
ExtraLight = 200
Light = 300
Book = 400
Medium = 600
Bold = 700

headerHeight = 5rem

// Svgs icons
.switch-telecom-logo
	position relative
	display block
	&:after
		content ''
		display block
		padding-bottom 23.6%
