.CaseStudyList
	width 100%
	max-width 1200px
	position relative
	margin 0 auto

	&-item
		margin 0 0 4rem
		padding 0 0 4rem
		border-bottom 1px solid blue
		display flex
		flex-direction row
		justify-content space-between
		&.even
			flex-direction reverse

	&-col
		width 48%
		img
			display block
			width 100%

	&-desc
		margin-bottom 2em
