.Contact
	width 100%
	color #33303a
	padding 5rem 0

	&-heading
		font-size 3.75rem
		font-weight Light
		text-align center
		margin 0

	&-tagline
		color #929292
		text-align center
		margin 0 0 3rem 0


	&-list
		display flex
		flex-direction row
		justify-content center

	&-item
		text-align center
		width 33.333%

	&-icon
		height 2em
		width 2em
		position relative
		margin 1em auto

	&-title
		font-weight Bold
