.Purpose
	width 100%
	position relative
	background-color #1493c4
	padding 5rem 0
	color white
	text-align center

	&-heading
		color white
		font-size 2em
		font-weight Light

	&-tagline
		color white
		font-size 1em
		font-weight Light

	&-intro
		font-size 1.5em
		font-weight Light

	&-slider
		width 500px
		position relative
		margin 0 auto

		.flickity-page-dots
			bottom -20px
			.dot
				border none
				background-color dark_blue
				margin 0 5px
				&.is-selected
					background-color white
		.flickity-prev-next-button
			background-color transparent
			border 1px solid white
			.arrow
				fill white

	&-slide
		width 100%
		box-sizing border-box
		padding 0 50px
