.Radio
	position relative
	&-input
		opacity 0
		position absolute
		z-index 1
		top 50%
		left 0
		transform translateY(-50%)
	&-label
		padding 0 0 0 1.5em
		cursor pointer
		display inline-block
	&-circle
		display block
		height 0.8em
		width 0.8em
		position absolute
		left 0
		border 1px solid #cbe1e8
		border-radius 50%
		top 50%
		transform translateY(-50%)
		color transparent
		*:checked ~ &
			color blue
		&:after
			content ''
			display block
			border-radius 50%
			box-sizing border-box
			height 60%
			width 60%
			background-color currentColor
			margin 20%
