.Stats
	font-size 1vw
	width 100%
	background-color #010101
	padding 8em 0
	+below('m')
		font-size 2vw

	&-list
		display flex
		flex-direction row
		justify-content center
		align-items flex-start
		+below('m')
			flex-wrap wrap

	&-item
		text-align center
		margin 0 5%
		+below('m')
			margin-bottom 5em

	&-number
		font-size 7.6em
		font-weight Thin
		color blue

	&-icon
		height 6em
		width 6em
		position relative
		margin 0 auto
		color white
		margin-bottom 4em
		& svg
			z-index 1
		&:after
			content ''
			display block
			height 140%
			width 140%
			background-color #fff
			background-color #211d29
			position absolute
			top -20%
			left -20%
			z-index 0
			border-radius 10%
			transform rotate(45deg)


	&-text
		font-weight Light
		color blue
		font-size 1.5em
		span
			font-weight Bold
			color white
