.TextBlock
	width 100%
	text-align left
	font-size 15px
	line-height 1.6

	&-heading
		font-size 24px
		color dark_blue
		margin 0 0 1em

	&-link
		color blue
		font-weight 600
		text-decoration none
		display block
