.Video
	width 100%
	position relative
	margin 3em 0

	&-inner
		width 100%
		max-width 1200px
		position relative
		margin 0 auto
		&:after
			content ''
			display block
			padding-bottom 56.25%


	&-embed
		position absolute
		display block
		top 0
		left 0
		height 100%
		width 100%
