.PhotoGrid
	width 100vw
	display flex
	flex-warp wrap

	&-photo
		width 25%
		position relative
		background-color red
		&:nth-child(2n + 2)
			background-color black
		&:after
			content ''
			display block
			padding 75%

	&-img
		position absolute
		height 100%
		width 100%
		top 0
		left 0
