.ProductIntro
	width 100%
	background-color off_white
	color black

	&-container
		@extend .Container
		text-align center

	&-text
		font-weight ExtraLight
		margin 0
		padding 0
		padding 1.1em 30%
		font-size 3.75rem
		font-size 2.9vw
		width 100%
		box-sizing border-box


	&-tabs
		@extend .Container
		text-align center
		display flex
		flex-direction row
		justify-content center
		padding 0


	&-tab
		display block
		width 25%
		list-style-type none
		text-decoration none
		&:hover
			background-color white

	&-link
		padding 2rem 0
		display block
		position relative
		color dark_gray
		text-decoration none
		&:hover
			text-decoration none



	&-icon
		width 3rem
		height 3rem
		margin-bottom 2rem
		display block
		position relative
		margin 0 auto
		color blue

	&-title
		display block
		margin-top 1rem
		font-weight Bold
