.Ready
	width 100%
	background-color blue
	color white
	padding 3.25rem 0
	&-container
		@extend .Container

	&-row
		width 100%
		display flex
		flex-direction row
		align-items flex-end

	&-col
		&:last-child
			margin-left 10%

	&-heading
		margin 0
		font-size 3.75rem
		font-weight Thin

	&-text
		margin 0
		font-weight Light
