.Testimonials
	width 100%
	padding 5rem 0
	background-image url(../images/testimonials-pattern.jpg), url(../images/testimonials-background.jpg)
	background-position left center, right center
	background-size contain, contain
	background-repeat no-repeat, no-repeat

	.flickity-prev-next-button
		position absolute
		bottom -50px
		top auto
		left 50%
		border-radius 0
		background-color blue
		color white
		&.previous
			margin-left -600px

		&.next
			margin-left -550px

		.arrow
			fill white


	&-slide
		width 100%

	&-container
		@extend .Container

	&-heading
		color black
		font-size 3.75em
		font-weight ExtraLight
		line-height 1
		margin 0 0 0.75em 0

	&-item
		width 70%

	&-title
		color dark_blue
		font-weight Bold
		margin 0 0 0.75em 0
		font-size 1.5em


	&-text
		font-size 1.125em
		line-height 1.66
		color dark_gray
		font-weight Light

	&-author
		color dark_gray
		font-size 1rem
		text-transform uppercase
		font-weight Light
		margin-top 1.2em
		& span
			color gray
