.Block
	padding 0 0 3vw 0

	& + &
		padding-top 3vw

	&-row
		@extend .Container
		display flex
		flex-direction row
		justify-content space-between

	&-col
		width 48%
		box-sizing border-box


	&--gray
		background-color light_gray


.IconImage
	width 100%
	& img
		display block
		width 100%
