.OffWhite
	background-color #f6f6f6
	padding 5vw 0

	img
		width 1200px
		display block
		position relative
		margin 0 auto

	h4
		font-size 3.75em
		text-align center
		font-weight Light
		margin 0 0 1em 0



	ul
	p
		font-size 1.875em
		text-align center
		font-weight Light
		margin 0 0 1em 0
		max-width 90vw
		position relative
		margin 0 auto

		li
			width auto
			list-style-type none
			margin-bottom 1em
