.OffWhite
	background-color #f6f6f6
	padding 5vw 0

	img
		width 1200px
		display block
		position relative
		margin 0 auto

	h4
		font-size 3.75em
		text-align center
		font-weight Light
		margin 0 0 1em 0

	h6
		font-size 1.875em
		text-align center
		font-weight Light
		margin 0 0 1em 0
