html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
@font-face {
  font-family: 'Gotham';
  src: url("fonts/Gotham-Thin.eot"); /* IE9 Compat Modes */
  src: url("fonts/Gotham-Thin.eot?#iefix") format('embedded-opentype'), url("fonts/Gotham-Thin.woff") format('woff'), url("fonts/Gotham-Thin.ttf") format('truetype'), url("fonts/Gotham-Thin.svg#2612f69d108fca39cb109c03ae310193") format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: 'Gotham';
  src: url("fonts/Gotham-ExtraLight.eot"); /* IE9 Compat Modes */
  src: url("fonts/Gotham-ExtraLight.eot?#iefix") format('embedded-opentype'), url("fonts/Gotham-ExtraLight.woff") format('woff'), url("fonts/Gotham-ExtraLight.ttf") format('truetype'), url("fonts/Gotham-ExtraLight.svg#0c4f2df0933d5b98e3f6d69baea7ffe6") format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Gotham';
  src: url("fonts/Gotham-Light.eot"); /* IE9 Compat Modes */
  src: url("fonts/Gotham-Light.eot?#iefix") format('embedded-opentype'), url("fonts/Gotham-Light.woff") format('woff'), url("fonts/Gotham-Light.ttf") format('truetype'), url("fonts/Gotham-Light.svg#bf16822e282b4d885cff891f3a65335d") format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Gotham';
  src: url("fonts/Gotham-Book.eot"); /* IE9 Compat Modes */
  src: url("fonts/Gotham-Book.eot?#iefix") format('embedded-opentype'), url("fonts/Gotham-Book.woff") format('woff'), url("fonts/Gotham-Book.ttf") format('truetype'), url("fonts/Gotham-Book.svg#7510147900d23fa3ad697e74bf146ea2") format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Gotham';
  src: url("fonts/Gotham-Medium.eot"); /* IE9 Compat Modes */
  src: url("fonts/Gotham-Medium.eot?#iefix") format('embedded-opentype'), url("fonts/Gotham-Medium.woff") format('woff'), url("fonts/Gotham-Medium.ttf") format('truetype'), url("fonts/Gotham-Medium.svg#bdc473fae2f64b1c45b8886bcff81bae") format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Gotham';
  src: url("fonts/Gotham-Bold.eot"); /* IE9 Compat Modes */
  src: url("fonts/Gotham-Bold.eot?#iefix") format('embedded-opentype'), url("fonts/Gotham-Bold.woff") format('woff'), url("fonts/Gotham-Bold.ttf") format('truetype'), url("fonts/Gotham-Bold.svg#6a327a217ddd10461b1acdc4d224fee0") format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
}
.switch-telecom-logo {
  position: relative;
  display: block;
}
.switch-telecom-logo:after {
  content: '';
  display: block;
  padding-bottom: 23.6%;
}
.Container,
.Block-row,
.Footer-row,
.OurProducts-container,
.CaseStudies-container,
.ContactForm,
.General,
.ProductIntro-container,
.ProductIntro-tabs,
.Ready-container,
.Testimonials-container {
  max-width: 1200px;
  width: 90%;
  position: relative;
  margin: 0 auto;
}
.Heading2 {
  font-weight: 300;
  font-size: 3.75em;
  color: #1f355e;
}
.Heading3 {
  font-weight: 300;
  font-size: 1.875em;
  color: #1f355e;
}
.Heading4 {
  font-size: 1.5em;
  font-weight: 700;
  color: #1f355e;
}
.Heading5 {
  font-size: 1.125em;
  font-weight: 700;
  color: #1f355e;
}
.Heading6 {
  font-size: 1em;
  font-weight: 600;
  color: #1f355e;
  text-transform: uppercase;
}
html,
body {
  color: #666;
  font-size: 18px;
  line-height: 1.66;
  font-family: 'Gotham';
  font-weight: 300;
}
@media only screen and (max-width: 1050px) {
  html,
  body {
    font-size: 16px;
  }
}
@media only screen and (max-width: 800px) {
  html,
  body {
    font-size: 14px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}
h2 {
  font-weight: 300;
  font-size: 3.75em;
  color: #1f355e;
}
h3 {
  font-weight: 300;
  font-size: 1.875em;
  color: #1f355e;
}
h4 {
  font-size: 1.5em;
  font-weight: 700;
  color: #1f355e;
}
h5 {
  font-size: 1.125em;
  font-weight: 700;
  color: #1f355e;
}
h6 {
  font-size: 1em;
  font-weight: 600;
  color: #1f355e;
  text-transform: uppercase;
  font-weight: normal;
}
strong {
  font-weight: 600;
}
a {
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
svg {
  fill: currentColor;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
blockquote {
  border: 1px solid #ecf0f1;
  padding: 3.33em 7.2em 3.33em 4em;
  color: #666;
  font-weight: 700;
  font-style: italic;
  line-height: 1.6;
  font-size: 0.88em;
  position: relative;
  width: 95%;
  margin: 2rem 0 2.5rem 5%;
}
blockquote:after {
  content: '';
  display: block;
  width: 0.56em;
  height: 100%;
  background-color: #009bde;
  position: absolute;
  top: 0;
  left: 0;
}
blockquote:before {
  content: '';
  display: block;
  height: 3.5em;
  width: 3.5em;
  position: absolute;
  top: 2em;
  right: 2em;
  background-image: url("../images/quotes.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
ul,
ol {
  font-size: 1em;
  padding: 0 0 0 1em;
}
ul li,
ol li {
  padding-left: 0.2em;
}
table {
  font-size: 0.77em;
  margin: 2em 0;
  color: #666;
}
td,
th {
  border: 1px solid #ecf0f1;
  text-align: left;
  padding: 0.5em 1.2em;
}
th {
  font-weight: 700;
  color: #2c3e50;
  background-color: #f8f9f9;
  border: 0;
}
th:hover {
  background-color: #ecf0f1;
}
img {
  max-width: 100%;
  display: block;
}
* {
  box-sizing: border-box;
}
.Block {
  padding: 0 0 3vw 0;
}
.Block + .Block {
  padding-top: 3vw;
}
.Block-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Block-col {
  width: 48%;
  box-sizing: border-box;
}
.Block--gray {
  background-color: #f9f9f9;
}
.IconImage {
  width: 100%;
}
.IconImage img {
  display: block;
  width: 100%;
}
.Footer {
  width: 100%;
  background-color: #174a7c;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.6;
  padding-top: 3rem;
  color: #fff;
}
.Footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 0;
}
.Footer-col {
  flex-grow: 1;
}
.Footer-col:first-child {
  flex-grow: 2;
}
.Footer-col:first-child > *:first-child {
  width: 50%;
  display: block;
  padding-bottom: 1em;
}
.Footer-col:last-child {
  flex-grow: 2;
}
.Footer-heading {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 0 0 2em 0;
  color: #fff;
}
.Footer-address {
  font-style: normal;
}
.Footer a {
  text-decoration: none;
}
.Footer a:hover {
  text-decoration: underline;
}
.Footer-nav {
  padding: 0;
}
.Footer-navItem {
  list-style-type: none;
  margin: 0 0 1em 0;
  padding: 0 2.5em 0 0;
}
.Footer-lower {
  color: #fff;
  margin-top: 1rem;
  background-color: #1f355e;
}
.Footer-form {
  height: 2.875em;
  width: 240px;
  position: relative;
}
.Footer-form input {
  display: block;
  background-color: #143f69;
  border: none;
  width: 240px;
  padding: 0 1em;
  height: 2.875em;
  line-height: 2.875em;
  box-sizing: border-box;
}
.Footer-form button {
  height: 2.875em;
  width: 2.875em;
  position: relative;
  background-color: #0397d6;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  padding: 1.1em;
  box-sizing: border-box;
}
.Footer-form button span {
  position: relative;
  display: block;
  height: 100%;
}
.Grid {
  width: 100%;
  padding: 3vw 0;
}
.Grid--even {
  background-color: #f9f9f9;
}
.Grid-row {
  width: 90%;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.Grid--even .Grid-row {
  flex-direction: row-reverse;
}
.Grid-col:first-child:nth-last-child(2),
.Grid-col:first-child:nth-last-child(2) ~ .Grid-col {
  width: calc(50% - 2.5%);
}
.Header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2rem;
  margin: 0;
  box-sizing: border-box;
}
body.hide-header .Header {
  position: fixed;
  top: -5rem;
  transition: margin 0.2s ease-in;
  background-color: rgba(0,0,0,0.6);
}
body.show-header .Header {
  margin-top: 5rem;
}
.Header-logo {
  width: 11rem;
  margin-right: auto;
}
.Header-nav {
  height: 100%;
}
.Header-cta {
  margin-left: 2.5rem;
}
.Nav {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.Nav-item {
  position: relative;
  height: 100%;
  list-style-type: none;
  display: inline-block;
  font-weight: 400;
  font-size: 0.875rem;
  margin: 0 1.5em;
  color: #fff;
}
.Nav-item:first-child {
  margin-left: 0;
}
.Nav-item:last-child {
  margin-right: 0;
}
.Nav-item.is-active:after {
  content: '';
  display: block;
  height: 3px;
  width: 140%;
  background-color: #009bde;
  position: absolute;
  top: 0;
  left: -20%;
}
.Nav-link {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.OffWhite {
  background-color: #f6f6f6;
  padding: 5vw 0;
}
.OffWhite img {
  width: 1200px;
  display: block;
  position: relative;
  margin: 0 auto;
}
.OffWhite h4 {
  font-size: 3.75em;
  text-align: center;
  font-weight: 300;
  margin: 0 0 1em 0;
}
.OffWhite ul,
.OffWhite p {
  font-size: 1.875em;
  text-align: center;
  font-weight: 300;
  margin: 0 0 1em 0;
  max-width: 90vw;
  position: relative;
  margin: 0 auto;
}
.OffWhite ul li,
.OffWhite p li {
  width: auto;
  list-style-type: none;
  margin-bottom: 1em;
}
/* Flickity v2.0.3
http://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative;
}
.flickity-enabled:focus {
  outline: none;
}
.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}
.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: #fff;
  background: rgba(255,255,255,0.75);
  cursor: pointer;
/* vertically center */
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.flickity-prev-next-button:hover {
  background: #fff;
}
.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09f;
}
.flickity-prev-next-button:active {
  opacity: 0.6;
}
.flickity-prev-next-button.previous {
  left: 10px;
}
.flickity-prev-next-button.next {
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}
.flickity-prev-next-button:disabled {
  opacity: 0;
  cursor: auto;
}
.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}
.flickity-prev-next-button .arrow {
  fill: #ffd700;
}
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: 45px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}
.flickity-rtl .flickity-page-dots {
  direction: rtl;
}
.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 2.5px;
  background: transparent;
  border-radius: 50%;
  opacity: 1;
  cursor: pointer;
  border: 1px solid #fff;
}
.dark-dots .flickity-page-dots .dot {
  border-color: #000080;
}
.flickity-page-dots .dot.is-selected {
  background-color: #ffd700;
}
.Home {
  background-color: #008000;
}
.Button {
  display: inline-block;
  height: 2.5em;
  font-size: 0.75rem;
  background-color: #009bde;
  color: #fff;
  padding: 0 1em;
  border-radius: 1.25em;
  transition: all 0.2s linear;
  width: auto;
  text-decoration: none;
}
.Button-inner {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 0.1em;
}
.Button-inner > svg {
  display: inline-block;
  height: 0.75em;
  width: 0.75em;
  position: static;
  margin-left: 0.4em;
}
.Button:hover {
  text-decoration: none;
  background-color: #1f355e;
}
.Button-text {
  white-space: nowrap;
}
.Button--dark {
  background-color: #1f355e;
}
.Button--dark:hover {
  background-color: #fff;
  color: #009bde;
}
.Button--large {
  font-size: 1.2em;
}
.Button--medium {
  font-size: 1.05em;
}
.CaseStudyList {
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
}
.CaseStudyList-item {
  margin: 0 0 4rem;
  padding: 0 0 4rem;
  border-bottom: 1px solid #009bde;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.CaseStudyList-item.even {
  flex-direction: row-reverse;
}
.CaseStudyList-col {
  width: 48%;
}
.CaseStudyList-col img {
  display: block;
  width: 100%;
}
.CaseStudyList-desc {
  margin-bottom: 2em;
}
.Checkbox {
  position: relative;
}
.Checkbox-input {
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}
.Checkbox-label {
  padding: 0 0 0 1.5em;
  cursor: pointer;
  display: inline-block;
}
.Checkbox-box {
  display: block;
  height: 0.888em;
  width: 0.888em;
  position: absolute;
  left: 0;
  border: 1px solid #e5e5e5;
  border-radius: 10%;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  z-index: 0;
}
.Checkbox-input:checked ~ .Checkbox-box {
  color: #009bde;
}
.Checkbox-tick {
  height: 70%;
  width: 70%;
  margin: 15%;
  fill: currentColor;
}
.Contact {
  width: 100%;
  color: #33303a;
  padding: 5rem 0;
}
.Contact-heading {
  font-size: 3.75rem;
  font-weight: 300;
  text-align: center;
  margin: 0;
}
.Contact-tagline {
  color: #929292;
  text-align: center;
  margin: 0 0 3rem 0;
}
.Contact-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Contact-item {
  text-align: center;
  width: 33.333%;
}
.Contact-icon {
  height: 2em;
  width: 2em;
  position: relative;
  margin: 1em auto;
}
.Contact-title {
  font-weight: 700;
}
.Content {
  color: #666;
  font-size: 1rem;
  line-height: 1.5;
}
.Content h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1f355e;
  line-height: 1;
  margin: 0 0 1em 0;
}
.Hamburger {
  height: 20px;
  width: 26px;
  position: relative;
  cursor: pointer;
}
.Hamburger-line {
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: #ffd700;
  transition: all 0.3s linear;
}
.Hamburger-line:first-child {
  top: 0;
  transition: top 0.2s linear 0.2s, transform 0.2s linear 0s;
}
.Hamburger-line:nth-child(2) {
  transition: transform 0.2s linear 0s;
}
.Hamburger-line:last-child {
  top: 100%;
  transition: top 0.2s linear 0.2s, transform 0.2s linear 0s;
}
body.scroll-past-menu .Hamburger-line {
  background: gradient;
}
body.menu-open .Hamburger-line {
  background: #ffd700;
}
body.menu-open .Hamburger-line {
  top: 50%;
  transform: rotate(45deg);
}
body.menu-open .Hamburger-line:first-child {
  transition: top 0.2s linear, transform 0.2s linear 0.2s;
}
body.menu-open .Hamburger-line:nth-child(2) {
  transition: transform 0.2s linear 0.2s;
}
body.menu-open .Hamburger-line:last-child {
  transform: rotate(-45deg);
  transition: top 0.2s linear, transform 0.2s linear 0.2s;
}
.Hero {
  width: 100%;
  position: relative;
  display: block;
}
.Hero-bg {
  display: block;
  width: 100%;
}
.Hero-bg img {
  display: block;
  width: 100%;
}
.Hero--fullscreen .Hero-bg img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
.Hero-content {
  position: absolute;
  top: 5rem;
  left: 0;
  height: calc(100% - 5rem);
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.Hero-title {
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: 200;
  font-size: 6rem;
  font-size: 6.5vw;
  margin: 0 0 0.25em 0;
  padding: 0;
  line-height: 1.02;
}
.Hero-title span {
  font-weight: 700;
  letter-spacing: 0;
}
.Hero-subTitle {
  color: #fff;
  font-weight: 300;
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
}
.Hero--fullscreen {
  height: 100vh;
}
.Hero-desc {
  font-weight: 200;
  color: #fff;
  width: 40%;
  margin-bottom: 2em;
  font-size: 1.5em;
}
.IconText {
  display: block;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5em;
}
.IconText-icon {
  display: block;
  height: 1.5em;
  width: 1.5em;
  color: currentColor;
  position: relative;
  margin-right: 0.75em;
}
.IconText-text {
  font-size: 1em;
}
.Input {
  margin-top: 1em;
  width: 100%;
  height: 2em;
  background-color: #f6f6f6;
  position: relative;
}
.Input-label {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 1em;
  height: 2em;
  line-height: 2em;
  display: block;
  padding: 0;
  margin: 0;
  font-size: 1em;
  background-color: transparent;
  opacity: 0.75;
  transition: all 0.2s;
}
.Input.is-populated .Input-label,
*:focus + .Input-label {
  top: -0.7em;
  line-height: 0.6em;
  font-size: 0.6em;
  left: 1.6em;
}
.Input-field {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  text-indent: 0;
  padding: 0 0 0 1em;
  position: relative;
  z-index: 1;
  height: 2em;
  line-height: 2em;
  background-color: transparent;
  font-size: 1em;
  border: none;
  appearance: none;
}
.Input--textarea {
  height: 6em;
}
.OurProducts {
  background-color: #1f355e;
  color: #fff;
  padding: 2rem 0;
}
.OurProducts-heading {
  font-weight: 300;
  text-align: center;
  font-size: 3.75rem;
  margin: 0;
  color: #fff;
}
.OurProducts-subHeading {
  font-weight: 700;
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
  color: #fff;
}
.OurProducts-product {
  width: 40%;
  display: inline-block;
  margin-right: 5%;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 5rem;
}
.OurProducts-title {
  font-size: 1.5em;
  font-weight: 700;
  color: #fff;
  margin-top: 1em;
}
.OurProducts-icon {
  height: 3em;
  width: 3em;
  position: relative;
}
.OurProducts-desc {
  margin-bottom: 2rem;
}
.PageHeading {
  font-weight: 200;
  font-size: 3.75rem;
  font-size: 3.2vw;
  text-align: center;
  color: #000;
  padding: 0;
  line-height: 1;
  margin: 1em 0;
}
.Purpose {
  width: 100%;
  position: relative;
  background-color: #1493c4;
  padding: 5rem 0;
  color: #fff;
  text-align: center;
}
.Purpose-heading {
  color: #fff;
  font-size: 2em;
  font-weight: 300;
}
.Purpose-tagline {
  color: #fff;
  font-size: 1em;
  font-weight: 300;
}
.Purpose-intro {
  font-size: 1.5em;
  font-weight: 300;
}
.Purpose-slider {
  width: 500px;
  position: relative;
  margin: 0 auto;
}
.Purpose-slider .flickity-page-dots {
  bottom: -20px;
}
.Purpose-slider .flickity-page-dots .dot {
  border: none;
  background-color: #1f355e;
  margin: 0 5px;
}
.Purpose-slider .flickity-page-dots .dot.is-selected {
  background-color: #fff;
}
.Purpose-slider .flickity-prev-next-button {
  background-color: transparent;
  border: 1px solid #fff;
}
.Purpose-slider .flickity-prev-next-button .arrow {
  fill: #fff;
}
.Purpose-slide {
  width: 100%;
  box-sizing: border-box;
  padding: 0 50px;
}
.Radio {
  position: relative;
}
.Radio-input {
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.Radio-label {
  padding: 0 0 0 1.5em;
  cursor: pointer;
  display: inline-block;
}
.Radio-circle {
  display: block;
  height: 0.8em;
  width: 0.8em;
  position: absolute;
  left: 0;
  border: 1px solid #cbe1e8;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
}
*:checked ~ .Radio-circle {
  color: #009bde;
}
.Radio-circle:after {
  content: '';
  display: block;
  border-radius: 50%;
  box-sizing: border-box;
  height: 60%;
  width: 60%;
  background-color: currentColor;
  margin: 20%;
}
.ScrollDown {
  height: 6.75em;
  width: 1.5em;
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  font-size: 12px;
}
.ScrollDown:after {
  content: '';
  display: block;
  height: 4px;
  width: 4px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.ScrollDown:before {
  content: '';
  display: block;
  width: 0;
  height: 4.7em;
  border-left: 1px dashed rgba(255,255,255,0.8);
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.ScrollDown-mouse {
  width: 100%;
  height: 2.25em;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 1.125em;
  position: absolute;
  left: 0;
  top: 1em;
}
.ScrollDown-mouse:after {
  content: '';
  display: block;
  width: 0.2em;
  height: 0.56em;
  background-color: #fff;
  border-radius: 1.5px;
  position: absolute;
  left: 50%;
  top: 0.3em;
  transform: translateX(-50%);
}
.ScrollDown-arrows {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.ScrollDown-arrow {
  width: 0.5em;
  height: 0.5em;
  display: block;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(135deg);
  position: relative;
  margin: 0 auto 0.1em auto;
}
.Select {
  width: 100%;
  height: 2em;
  background-color: #f6f6f6;
  position: relative;
  margin-top: 1em;
}
.Select-label {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 1em;
  height: 2em;
  line-height: 2em;
  display: block;
  padding: 0;
  margin: 0;
  font-size: 1em;
  background-color: transparent;
  opacity: 0.75;
  transition: all 0.2s;
}
.Select.is-populated .Select-label,
*:focus + .Select-label {
  top: -0.7em;
  line-height: 0.6em;
  font-size: 0.6em;
  left: 1.6em;
}
.Select-input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  text-indent: 0;
  padding: 0 0 0 1em;
  position: relative;
  z-index: 1;
  height: 2em;
  line-height: 2em;
  background-color: transparent;
  font-size: 1em;
  border: 0;
  appearance: none;
}
.Select-arrow {
  position: absolute;
  right: 0.2em;
  top: 0.2em;
  height: 1.6em;
  width: 1.6em;
  background-color: #c5c5c5;
  z-index: 0;
}
.Select-arrow:after {
  content: '';
  display: block;
  height: 30%;
  width: 30%;
  border-bottom: 1px solid currentColor;
  border-left: 1px solid currentColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%) rotate(-45deg);
}
.SocialBar {
  display: flex;
  flex-direction: row;
  padding: 0;
  position: relative;
  padding-top: 1em;
  color: #009bde;
}
.SocialBar:after {
  content: '';
  display: block;
  height: 1px;
  width: 50%;
  background-color: currentColor;
  top: 0;
  left: 0;
  position: absolute;
}
.SocialBar-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.SocialBar-item + .SocialBar-item {
  margin-left: 0.75em;
}
.SocialBar-icon {
  display: block;
  position: relative;
  height: 1em;
  width: 1em;
}
.Stats {
  font-size: 1vw;
  width: 100%;
  background-color: #010101;
  padding: 8em 0;
}
@media only screen and (max-width: 800px) {
  .Stats {
    font-size: 2vw;
  }
}
.Stats-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
@media only screen and (max-width: 800px) {
  .Stats-list {
    flex-wrap: wrap;
  }
}
.Stats-item {
  text-align: center;
  margin: 0 5%;
}
@media only screen and (max-width: 800px) {
  .Stats-item {
    margin-bottom: 5em;
  }
}
.Stats-number {
  font-size: 7.6em;
  font-weight: 100;
  color: #009bde;
}
.Stats-icon {
  height: 6em;
  width: 6em;
  position: relative;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 4em;
}
.Stats-icon svg {
  z-index: 1;
}
.Stats-icon:after {
  content: '';
  display: block;
  height: 140%;
  width: 140%;
  background-color: #fff;
  background-color: #211d29;
  position: absolute;
  top: -20%;
  left: -20%;
  z-index: 0;
  border-radius: 10%;
  transform: rotate(45deg);
}
.Stats-text {
  font-weight: 300;
  color: #009bde;
  font-size: 1.5em;
}
.Stats-text span {
  font-weight: 700;
  color: #fff;
}
.Team {
  width: 100%;
  position: relative;
  padding: 4em 0;
}
.Team-heading {
  font-size: 2em;
  font-weight: 300;
  color: #000;
  text-align: center;
}
.Team-slider {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 3em 0 0 0;
}
.Team-slide {
  position: relative;
  width: 33.333%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.Team-infoPanel {
  width: 80%;
  box-sizing: border-box;
  background-color: rgba(255,255,255,0.8);
  color: #000;
  text-align: center;
  bottom: 20px;
  left: 10%;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  position: absolute;
  font-size: 14px;
  padding: 10% 5%;
  opacity: 0;
  transition: all 0.3s;
}
*:hover > .Team-infoPanel {
  opacity: 1;
}
.Team-name {
  font-size: 12px;
  font-size: 300;
}
.Team-position {
  font-weight: 400;
  text-transform: uppercase;
}
.Team-social {
  position: relative;
  display: flex;
  justify-content: center;
}
.Team-socialIcon {
  height: 1em;
  width: 1em;
  position: relative;
  margin: 0 0.5em;
}
.TextBlock {
  width: 100%;
  text-align: left;
  font-size: 15px;
  line-height: 1.6;
}
.TextBlock-heading {
  font-size: 24px;
  color: #1f355e;
  margin: 0 0 1em;
}
.TextBlock-link {
  color: #009bde;
  font-weight: 600;
  text-decoration: none;
  display: block;
}
.Video {
  width: 100%;
  position: relative;
  margin: 3em 0;
}
.Video-inner {
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
}
.Video-inner:after {
  content: '';
  display: block;
  padding-bottom: 56.25%;
}
.Video-embed {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.WhySwitch {
  width: 100%;
  background-image: url("../images/why-bg.jpg");
  background-position: top left;
  background-size: 90%;
  background-repeat: no-repeat;
  padding: 8em 0;
  font-size: 15px;
}
.WhySwitch-content {
  width: 100%;
  padding: 0 8% 4rem 37%;
}
.WhySwitch-heading {
  font-weight: 300;
  color: #000;
  font-size: 3.75em;
  line-height: 1;
  margin: 0 0 0.2em;
}
.WhySwitch-subHeading {
  font-weight: 300;
  color: #000;
  font-size: 2.5em;
  line-height: 1;
  margin: 0 0 1em 0;
  color: #1f355e;
}
.WhySwitch-list {
  padding: 0 0 1em 0;
}
.WhySwitch-item {
  position: relative;
  padding: 0 0 0 6.5vw;
  list-style-type: none;
  margin: 0 0 3em 0;
}
.WhySwitch-icon {
  height: 5vw;
  width: 5vw;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -2.5vw;
}
.WhySwitch-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 0 0.2em 0;
}
.WhySwitch-desc {
  font-size: 0.9rem;
  margin: 0;
  color: #666;
  line-height: 1.5;
}
.AboutIntro {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5rem 0;
  background-image: url("../images/testimonials-pattern.jpg");
  background-size: auto 100%;
  background-position: left center;
  background-repeat: no-repeat;
}
.AboutIntro-content {
  width: 50%;
  padding-left: calc(50% - 600px);
  padding-right: 120px;
  color: #333;
  font-size: 1.125em;
}
.AboutIntro-content h2 {
  font-weight: 300;
  color: #000;
  margin: 0;
  font-size: 3.75em;
  line-height: 1;
}
.AboutIntro-content h3 {
  font-weight: 700;
  color: #009bde;
  font-size: 1.5em;
  line-height: 1;
}
.AboutIntro-images {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.AboutIntro-image {
  width: calc(33.333% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  background-color: #ffc0cb;
}
.AboutIntro-image:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
.CaseStudies {
  padding: 2rem 0;
}
.CaseStudies-panels {
  display: flex;
  width: 100%;
  width: calc(100% + 2rem);
  margin-left: -1rem;
  flex-direction: column;
  flex-wrap: wrap;
  height: 900px;
}
.CaseStudies-panel {
  width: 33.333%;
  box-sizing: border-box;
  height: 50%;
  padding: 1rem;
  position: relative;
}
.CaseStudies-panel--long {
  height: 100%;
}
.CaseStudies-panel > div {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #008000;
}
.CaseStudies-label {
  background-color: #009bde;
  color: #fff;
  font-size: 0.75em;
  padding: 0.5em 0.75em;
  position: absolute;
  top: 1rem;
  left: 1rem;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: -1px;
}
.ContactForm-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2.6rem;
}
.ContactForm-input {
  width: 33.333%;
  width: calc(33.333% - 0.866666666666667em);
  margin-left: 1.3em;
  margin-bottom: 1.3em;
}
.ContactForm-input:first-child {
  margin-left: 0;
}
.ContactForm-input--full {
  width: 100%;
  margin-left: 0;
  height: auto;
}
.ContactForm-textarea {
  width: 100%;
  display: block;
  height: 5.5em;
  padding: 1em;
  border: 0;
  background-color: #f9f9f9;
  font-family: inherit;
}
.ContactForm-submit {
  text-align: center;
  width: 100%;
}
.ContactForm-button {
  background-color: #009bde;
  color: #fff;
  font-weight: 400;
  font-size: 0.888888888888889em;
  padding: 0.75em;
  padding-top: 0.9em;
  border: 0;
  line-height: 1;
  display: inline-block;
}
.General {
  padding: 2.5em 0;
}
.Map {
  width: 100%;
}
.Map-container {
  height: 20rem;
  width: 100%;
}
.Map-map {
  height: 100%;
  width: 100%;
}
.PhotoGrid {
  width: 100vw;
  display: flex;
  flex-warp: wrap;
}
.PhotoGrid-photo {
  width: 25%;
  position: relative;
  background-color: #f00;
}
.PhotoGrid-photo:nth-child(2n + 2) {
  background-color: #000;
}
.PhotoGrid-photo:after {
  content: '';
  display: block;
  padding: 75%;
}
.PhotoGrid-img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.Product {
  width: 100%;
}
.Product-block {
  width: 100%;
  background-image: url("../images/left-fade.jpg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  box-sizing: border-box;
  padding-left: calc((100% - 1200px) / 2);
  padding-right: 50%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.Product-block:nth-child(2n + 2) {
  background-color: #f3f3f3;
  background-position: left center;
  background-image: url("../images/right-fade.jpg");
  padding-right: calc((100% - 1200px) / 2);
  padding-left: 50%;
}
.Product-title {
  font-size: 1.875em;
  color: #333;
}
.Product-desc {
  color: #666;
  font-weight: 400;
  font-size: 1.125em;
}
.ProductIntro {
  width: 100%;
  background-color: #f3f3f3;
  color: #000;
}
.ProductIntro-container {
  text-align: center;
}
.ProductIntro-text {
  font-weight: 200;
  margin: 0;
  padding: 0;
  padding: 1.1em 0;
  font-size: 3.75rem;
  font-size: 2.9vw;
  width: 100%;
  box-sizing: border-box;
}
.ProductIntro-tabs {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}
.ProductIntro-tab {
  display: block;
  width: 25%;
  list-style-type: none;
  text-decoration: none;
}
.ProductIntro-tab:hover,
.ProductIntro-tab.is-active {
  background-color: #fff;
}
.ProductIntro-link {
  padding: 2rem 0;
  display: block;
  position: relative;
  color: #333;
  text-decoration: none;
}
.ProductIntro-link:hover {
  text-decoration: none;
}
.ProductIntro-icon {
  width: 3rem;
  height: 3rem;
  margin-bottom: 2rem;
  display: block;
  position: relative;
  margin: 0 auto;
  color: #009bde;
}
.ProductIntro-title {
  display: block;
  margin-top: 1rem;
  font-weight: 700;
}
.Ready {
  width: 100%;
  background-color: #009bde;
  color: #fff;
  padding: 3.25rem 0;
}
.Ready-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.Ready-col:last-child {
  margin-left: 10%;
}
.Ready-heading {
  margin: 0;
  font-size: 3.75rem;
  font-weight: 100;
}
.Ready-text {
  margin: 0;
  font-weight: 300;
}
.Testimonials {
  width: 100%;
  padding: 5rem 0;
  background-image: url("../images/testimonials-pattern.jpg"), url("../images/testimonials-background.jpg");
  background-position: left center, right center;
  background-size: contain, contain;
  background-repeat: no-repeat, no-repeat;
}
.Testimonials .flickity-prev-next-button {
  position: absolute;
  bottom: -50px;
  top: auto;
  left: 50%;
  border-radius: 0;
  background-color: #009bde;
  color: #fff;
}
.Testimonials .flickity-prev-next-button.previous {
  margin-left: -600px;
}
.Testimonials .flickity-prev-next-button.next {
  margin-left: -550px;
}
.Testimonials .flickity-prev-next-button .arrow {
  fill: #fff;
}
.Testimonials-slide {
  width: 100%;
}
.Testimonials-heading {
  color: #000;
  font-size: 3.75em;
  font-weight: 200;
  line-height: 1;
  margin: 0 0 0.75em 0;
}
.Testimonials-item {
  width: 70%;
}
.Testimonials-title {
  color: #1f355e;
  font-weight: 700;
  margin: 0 0 0.75em 0;
  font-size: 1.5em;
}
.Testimonials-text {
  font-size: 1.125em;
  line-height: 1.66;
  color: #333;
  font-weight: 300;
}
.Testimonials-author {
  color: #333;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 1.2em;
}
.Testimonials-author span {
  color: #666;
}
